@import "cssreset.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,500,500i,600,800,800i,900,900i&display=swap');
@import "top-section.css";
@import "work.css";
@import "footer-section.css";


.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {

    background: #eeeeee;
}

header {
    display: flex;
    padding: 40px 20px;
    justify-content: space-between;
}

header .logo {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: black;
    padding: 20px;
    transition: all 1s ease-in-out;
}

header .logo:hover {
    background: rgba(224, 167, 170, 0.5);
}

header .logo a {
    color: white;
    text-decoration: none;

}


header .header-menu {
    display: flex;
    font-size: 1rem;
    text-transform: uppercase;
    align-items: center;

}

header .header-menu a {
    text-decoration: none;
    margin-right: 20px;
    color: black;
    font-weight: 500;
    transition: all 1s ease-in-out;
}

header .header-menu a:hover {
    color: rgba(224, 167, 170, 0.5);

}