#top {}

#top .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
    align-items: center;
}


#top .info {
    padding: 15px;
    position: relative;


}

#top .info .square {
    position: absolute;
    border: 20px solid rgba(202, 31, 31, 0.3);
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: -50%;
    left: -50%;
    z-index: 0;
    border-radius: 10%;
}

#top .info h1 {
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #16171b;
    margin-bottom: 1.5rem;
    z-index: 10;
}

#top .info p {
    position: relative;
    color: #919191;
    text-transform: capitalize;
    margin-bottom: 3rem;
    z-index: 10;

}

#top .info a {
    position: relative;
    color: #16171b;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    text-transform: uppercase;
    z-index: 10;
}

#top .img {}

#top .img .background-img {
    background: url("../img/landscape.jpeg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 500px;
    height: 800px
}